

.item2{
  background-color: #ffffff;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  display: grid;
  width: 98%;
  height: 650px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.75);
}

.cell-row {
  display: flex;
}
.cell {
  width: 100px;
  border: 1px solid #555;
  height: 30px;
  outline: none;
  box-sizing: border-box;
  
}
.cell.header {
  text-align: center;
  background: #ddd;
}
.cell.header.active {
  background: dodgerblue;
  color: white;
}
.cell:focus {
  background: #ddd;
  border: 2px solid dodgerblue;
}
#export-btn {
  background: green;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}  

#title{
  font-size: 20px;
  margin: 5px;
  font-weight: bold;
}